/* * {
    font-family: 'poppins';
} */

body {
    margin: auto;
    padding: auto;
}

.div1 {
    background-color: white;
    width: 10%;
    display: grid;
    place-content: center;
}

.div2 {
    background-color: #2298D2;
    width: 15%;
    color: white;
    position: relative;
}

.div2 p {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

.div3 {
    background-color: white;
    width: 80%;
}

header {
    display: flex;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2);
}

.double1 {
    color: white;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: black;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
}

.double1 .infoTel {
    display: flex;
}

.double1 .infoTel p {
    margin-left: 20px;
}

.double2 {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.double2 .iconSearch {
    box-sizing: border-box;
    padding-right: 50px;
    display: flex;
    align-items: center;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 0.45px;
    text-transform: uppercase;
    opacity: 1;
}

nav.navBar {
    display: flex;
    flex: 1;
}

.separateur {
    flex: 1;
}

nav.navBar ul {
    flex: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.infoReseaux p i {
    margin-left: 20px;
}

.icon_filter {
    background-color: aliceblue;
}

.filter {
    background-color: #2298D2;
    height: 100%;
    margin: 0;
    padding: 17px;
    color: white;
}



.banner {
    height: 500px;
    width: 100%;
    background: linear-gradient(270deg, #00000015 0%, #0000009F 100%), url('../images/image_commune.jpg') no-repeat center/cover;
}

.section1 {
    display: flex;
}

.section1_div1 .icon_bg{
    position: absolute;
    opacity: 0.4;
    width: 100px;
    bottom: 0;
    right: 0;
}
.section1_div1 {
    flex: 1;
    background-color: #F78236;
    height: 240px;
    position: relative;
}

.section1_div1 .info p.sub_title {
    font: normal normal normal 12px'SF Pro';
    text-align: center;
    margin: 0;
    padding: 0;
    letter-spacing: 0px;
    color: #DEDEDE;
    opacity: 1;
}

.section1_div1 .info p.title {
    text-align: center;
    margin: 0;
    padding: 0;
    font: normal normal bold 18px 'Futura';
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.section1_div1 .info {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.section1_div2 {
    background-color: #EEEEEE;
    flex: 1;
    height: 240px;

}

.section1_div3 {
    background-color: #2298D2;
    flex: 1;
    height: 240px;

}




.banner p{
    margin: 0;
}

.fa-circle-chevron-right{
    font-size: 100px;
}